<div class="root">
    <div *ngIf="locWeather" style="display: inline-block">
        <h1>{{locWeather.name}}, CA</h1>
        <img src="https://res.cloudinary.com/twenty20/private_images/t_watermark-criss-cross-10/v1517446023000/photosp/4a9110be-fdc8-4748-b4d6-76618bc8a5da/stock-photo-view-from-above-san-francisco-bay-area-bay-area-silicon-valley-business-travel-lick-observatory-santa-clara-valley-mount-hamilton-technology-centers-4a9110be-fdc8-4748-b4d6-76618bc8a5da.jpg" alt="washington picture" width="500" height="300">
    </div>
    <div *ngIf="locWeather" style="display: inline-block; margin-left: 15px; margin-top: 70px; vertical-align: top;">
            <h3>Humidity: {{locWeather.humidity}}</h3>
            <h3>Temperature(Average): {{locWeather.average}}</h3>
            <h3>Temperature(High): {{locWeather.high}}</h3>
            <h3>Temperature(Low): {{locWeather.low}}</h3>
            <h3>Status: {{locWeather.status}}</h3>
    </div>
</div>